body{
    background-color: #ece6ff;
    font-family: 'Roboto', sans-serif;
}
.title{
    text-align: center;
}
.calculator{
    background-color: #ffccff;
    width: 360px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 120px auto;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid black;
}
.screen{
    display:flex;
    flex-flow: column;
    align-items: flex-end;
    background-color: #f2f2f2;
    height: 120px;
    border-radius: 10px;
    border: 2px solid black;
    padding-right: 20px;
}
.screen > h2{
    order: 3;
    font-size: 38px;
    margin-top: 0px;  
}
.screen > h3{
    order: 2;
    min-height: 25px;
}
button{
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
}
button:hover{
    filter: brightness(80%);
}
.input-buttons{
    margin: 15px 0 15px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.clear{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 60px;
    background-color: #ff9999;
}
.delete{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #E6FFCC;
}
.numbers{
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    direction: rtl;
}
.numbers > button, .symbols > button{
    height: 65px;
}
.symbols{
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;
}